* {
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #91c235;
    --secondary-color: #fd4c82;
    --text-color: gray;
}

a {
  text-decoration: none;
  color: #fff;
}


.padding {
    padding: 20px;
}

/* compulsory end...... */




/* background image start */

body {
    background-image: url('./assets/img/bg_1.jpg.webp');
    background-repeat: no-repeat;
    background-size: contain; 
    
}

/* upper-header */
.menu .nav-link {
    font-size: larger;
    font-weight: 700;
   
}

.gmail {
    font-size: small;
}

.upper-header .nav-item {
    font-size: larger;
}
.upper-header .nav-item a :hover {
    color: var(--secondary-color);
    font-size: x-large;
}
.upper-header .g-amil {
    font-weight: 700;
    font-size: medium;
}

.upper-header .phone {
    font-weight: 700;
    font-size: medium;
}

/* header2 start */

.header2 .background {
    background-color: #fff;
    padding: 10px;
    object-fit: contain;
} 
.header2 .btn1-wrapper {
    background-color: var(--secondary-color);
    padding: 10px 0px;
    border-radius: 05px;
}

.header2 .btn1-wrapper:hover{
    border: 2px solid;
    padding: 10px 0px;
    border-radius: 05px;
}


.header2 .btn1-wrapper a {
    color: #fff !important;
}


.header2 .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
}

.header2 .nav-item a {
    color: black;
}

.header2 .nav-item a:hover {
   font-size: large;
   color: var(--secondary-color);
}

.header2 .home {
    color: var(--secondary-color) !important;
}

.header2 .home:hover {
    color: black !important;
}

.header2 .logo-text {
    font-size: x-large;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}
.header2 .logo-text2 {
    color: var(--secondary-color) !important;
}

.header2 {
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* header2 end */


/* content1 start */

.content1 {
    margin-bottom: 40px;
}

.content1 .inner-content h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
}

.content1 .inner-content p {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
}

.content1 .inner-content .btns {
    margin-top: 30px;
}

.content1 .inner-content .btns .btn1 {
    background-color: var(--secondary-color);
    padding: 15px 25px;
    border: none;
}

.content1 .inner-content .btns .btn1:hover {
    border: 2px solid black;
}

.content1 .inner-content .btns .btn2 {
    background-color: var(--primary-color);
    padding: 15px 35px;
    border: none;
    margin-left: 5px;
}

.content1 .inner-content .btns .btn2:hover {
    border: 2px solid black;
}

/* content1 end */

/* cards section start */

.cards {
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
}

.cards .card1 i {
    font-size: 60px;
    color: var(--secondary-color);
}

.cards .card1:hover {
    background-color: var(--secondary-color);
}

.cards .card1:hover i {
    color: #fff;
}


.cards .card1 p {
    color: var(--text-color);
}

.cards .card1:hover p {
    color: black;
}

/* cards section end */

/* container2 start */

.content2 .img-about img {
 width: 100%;
 height: 650px;
}

.content2 .inner-contents {
    margin-top: 100px;
}

.content2 .para1 {
    color: var(--secondary-color);
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.content2 .para1 h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.content2 .para2 p {
    color: var(--text-color);
    margin-top: 20px;
}

.content2 .para3 p i {
    margin-right: 40px;
}

.content2 .para3 i {
    background-color: var(--secondary-color);
    font-size: 25px;
    border-radius: 5px;
    color: #5e4f4f;
    padding: 10px;
}

.content2 .para3 {
    margin-top: 20px;
}

.content2 .para3 p {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.content2 {
    margin-bottom: 40px;
}

/* content2 section end */

/* content3 form section start */

.content3 {
    margin-bottom: 80px;
}

 .content3 .date input {
    width: 197px;
    border-radius: 10px;
 }
  
 .content3 .content form input {
    padding: 10px 5px;
    border-radius: 10px;
 }

  .content3 .form4 input {
    padding: 10px 5px;
    border-radius: 10px;
  }

  .content3 .form8 form input {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  .content3 .para1 p {
    color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 500;
  }

  .content3 .form8 input::placeholder {
    text-align: center;
    color: black;
  }

  .content3 .form8 form input:hover {
    background-color: var(--secondary-color);
  }

  input::placeholder {
    color: black;
  }

  @media screen and (max-width: 990px) {
    .content3 .content form input {
        width: 100px;
    }
  }

  @media screen and (max-width: 780px) {
    .content3 .content form input {
        width: 100%;
    }

  }

  @media screen and (max-width: 780px) {
    .content3 .content form input {
        margin-bottom: 20px;
    }

  }

  /* content3 form section end */

  .cards .card img {
    border-radius: 100%;
  }

  .cards .card h5 {
    text-align: center;
    font-size: large;
    font-weight: 600;
  }

  .cards .card p {
    text-align: center;
    font-size: small;
    color: var(--secondary-color);
    font-weight: 700;
  }

  .cardss .para1 p {
    text-align: center;
    color: var(--secondary-color);
    font-weight: 700;
  }

  .cardss .para1 h1 {
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 50px;
  }

  .cardss .para1 {
    margin-bottom: 50px;
  }